.dog-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.dog-image {
  width: 300px;
  height: 235px;
  object-fit: cover;
  border-radius: 10px;
}